*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Bebas Neue";
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}
header {
  position: absolute;
  margin-top: 0;
}

h1 {
  font-size: 3.063rem;
}

.menu-btn {
  width: 2.5em;
  cursor: pointer;
}

.top-bg-container {
  height: 100vh;
  position: absolute;
  width: 90%;
  top: 0;
  right: 0;
  display: grid;
  grid-template-columns: 80% auto;
  z-index: -1;
}

.streaks {
  background: #b2dd9e url("streaks.jpg");
  background-repeat: no-repeat;
  background-blend-mode: screen; /* changes how interact with behind it*/
  background-size: cover;
  height: 100vh;
}

.purple {
  background: #7988be;
}

.type {
  padding: 8.25em 2.063em 29.813em 2.375em;
}

.type p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.6em;
  padding: 1.75em 1.438em 5.688em 1.125em;
}
